@font-face {
	font-family: "blossoms";
	src: url("fonts/BunchBlossomsPersonalUse-0nA4.ttf");
}

@font-face {
	font-family: "ranille";
	src: url("fonts/RanilleNormalRegular-EaZJj.ttf");
}

@font-face {
	font-family: "hamburger";
	src: url("fonts/HamburgeRegular-eZjXB.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #98c4d1;
	font-family: 'blossoms';
}


/* Header, Logo, Navigation*/

header.menu {
	height: 100px;
	background-color: #2f375b;
	padding: 10px 0;
}

.menu-wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
}

.menu-icon {
	font-size: 2.4em;
	color: #ffffff;
	line-height: 50px;
}

.menu-icon:hover {
	color: lightgray;
}

.menu-name {
	float: left;
	display: flex;
	padding: 5px;
	color: white;
	text-decoration: none;
	letter-spacing: 0.1em;
	height: 100px;
}

.logo-img {
	float: left;
	display: flex;
	width: auto;
	height: 90px;
	position: relative;
	bottom: 5px;
}

.website-name {
	text-decoration: none;
	color: white;
	font-size: 40px;
}


/*Navigation*/

nav {
	position: relative;
	background-color: #3d3d3d;
	top: 70px;
	left: -1px;
	width: 100%;
}

nav ul {
	list-style: none;
	overflow: hidden;
	transition: all 0.5s;
	font-size: 18px;
}

nav ul li {
	padding: 0 15px;
}

nav ul li a {
	display: inline-block;
	padding: 12px;
	color: white;
	text-decoration: none;
	letter-spacing: 0.05em;
}

nav ul li a:hover,
nav ul li a:focus {
	color: lightgray;
}

#checkbox {
	display: none;
}


/*Content*/

.contact {
	position: relative;
	min-height: 100vh;
	padding: 100px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(images/contactbg.jpg);
	background-size: cover;
}

.contact .content {
	max-width: 800px;
	text-align: center;
}

.contact .content h2 {
	font-size: 36px;
	font-weight: 500;
	color: #ffffff;
	text-shadow: 5px 5px 5px black;
}

.contact .content p {
	font-family: 'hamburger';
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	text-shadow: 2px 2px 2px black;
	line-height: 30px;
}

.container {
	display: flex;
	align-items: center;
	margin: 50px 50px;
}

.container .contact-info {
	display: flex;
	flex-direction: column;
	font-family: 'hamburger';
	color: #ffffff;
	font-size: 30px;
	text-shadow: 5px 5px 5px #3d3d3d;
	margin-right: 100px;
	line-height: 50px;
}

.contact-form {
	width: 500px;
	margin-left: 100px;
	padding: 30px;
	background: #fff;
}

.contact-form h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contact-form .input-box {
	position: relative;
	width: 100%;
	margin-top: 10px;
	font-family: 'hamburger';
}

.contact-form .input-box input,
.contact-form .input-box textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contact-form .input-box span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box textarea:valid~span {
	color: #de4b43;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
	width: 100px;
	font-family: 'hamburger';
	background: #98c4d1;
	border: none;
	cursor: pointer;
	padding: 15px;
	font-size: 18px;
}


/*Footer*/

footer {
	width: 100%;
	bottom: 0px;
	background: #2f375b;
}

button {
	background-color: #de4b43;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	width: 225px;
	height: 50px;
	font-family: 'hamburger';
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.footer {
	display: flex;
	position: absolute;
	right: 1px;
	background-color: #2f375b;
}

.footer .box {
	flex-basis: 50%;
	padding: 30px 40px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin: 10px 0 0 0;
}

.left {
	color: white;
	text-shadow: 2px 2px 5px #1a1a1a;
}

.left .content p {
	text-align: justify;
	margin: 20px 0 0 0;
	font-family: 'hamburger';
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content .social a {
	padding: 0 2px;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	color: white;
}

.copyright {
	font-family: 'hamburger';
	padding: 20px 0;
}

.left .content .social a span:hover {
	background: #de4b43;
}

.center {
	color: white;
	text-shadow: 2px 2px 5px #1a1a1a;
}

.center .text {
	font-family: 'hamburger';
}

.center .content p {
	margin: 5px 0 0 0;
}

.center h2 a:hover {
	cursor: pointer;
	color: #de4b43;
	transition: 0.3s;
}

.center2 {
	color: white;
	text-shadow: 2px 2px 5px #1a1a1a;
}

.center2 .text,
.more-text {
	font-family: 'hamburger';
}

.center2 .content .more a {
	text-decoration: none;
	color: white;
}

.center2 .more a:hover {
	cursor: pointer;
	color: #de4b43;
	transition: 0.3s;
}

.right {
	color: white;
	text-shadow: 2px 2px 5px #1a1a1a;
}

.right .text {
	font-family: 'hamburger';
}

.text-email {
	width: 225px;
	height: 50px;
	border-radius: 0;
}

.msg textarea {
	width: 225px;
	height: 50px;
	font-family: 'hamburger';
}

@media (min-width: 768px) {
	.menu-icon {
		display: none;
	}
	nav {
		position: relative;
		top: 0.6px;
		background-color: transparent;
		overflow: hidden;
	}
	nav ul {
		max-height: 70px;
		padding: 15px 0;
		text-align: right;
	}
	nav ul li {
		display: inline-flex;
		padding-left: 20px;
	}
}